.boxButtonGetMovie {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.CinemaBackground {
    background-image: url('https://image.noelshack.com/fichiers/2019/44/3/1572445894-capture-d-ecran-de-2019-10-30-14-45-36.png');
    height: 100vh;
    background-size: cover;
}

.BoxOfPictureFromTheMovie {
    position: absolute;
    bottom: 485px;
    left: 860px;
}

.PictureFromTheMovie {
    height: 400px;
    
}