.graveyard {
    background-image: url(https://zupimages.net/up/19/44/3nvo.jpg);
    height: 100vh;
    background-size: cover;
  }
.tomb {
  color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 15vh;
  background-color: white;
  margin: auto;
}
.userGrave {
  font-size: 1.5em;
  font-weight: bold;
  border: solid red 5px;
}
